<main>
    <h1>{{title}}, hello!</h1>
    <p>Welcome to Express</p>
    <span>This page contains list of examples using Express:</span>
    <a href="https://expressjs.com/en/starter/examples.html" target="_blank">Express examples</a>
    <div>
        <img src="images/fino_senores.jpg" alt="John Cena" title="fino señores">
    </div>
</main>